{% extends "base.html" %}
{% block titulo %}Principal{% endblock %}
{% block principal %}
<div class="col-12">
    <div class="row">
        <div class="col-3 mb-4">
            <img src="/static/img/produtos/0009.jpg" alt="Computador Mac Studio M3 Ultra" class="img-fluid rounded">
        </div>
        <div class="col-9 mb-4">
            <h1>Computador Mac Studio M3 Ultra</h1>
            <h6 class="display-6">Por apenas</h6>
            <h3 class="text-danger">R$ 89,990.00</h3>
            <hr>
            <button class="btn btn-primary btn-lg">Comprar Agora!</button>
        </div>
    </div>
</div>
<div class="col-12">
    <p class="lead">Descrição:</p>
    <p>Adorado por criadores profissionais que atuam em diversas áreas, o Mac Studio agora oferece potência de última
        geração graças ao superveloz M2 Max e ao revolucionário M2 Ultra. Seu design é compacto, mas com espaço de sobra
        para desempenho absurdo e conectividade expandida. Tudo de que você precisa fica a seu alcance, para você
        transformar qualquer lugar em um estúdio. Criado com a combinação de dois chips M2 Max, o chip M2 Ultra encara
        fluxos de trabalho imensos sem pestanejar. Isso significa que você pode transcodificar e exportar vídeos num
        instante, executar simulações de partículas complexas ou lidar com ambientes 3D gigantescos que antes eram
        impossíveis de renderizar. E, com o dobro dos recursos para processamento de mídia, o M2 Ultra aceita até 22
        streams de vídeo 8K ProRes 422. Nenhum outro computador pessoal faz isso.</p>
</div>
{% endblock %}